[submodule "malloc/lsmalloc"]
	path = malloc/lsmalloc
	url = git@ipads.se.sjtu.edu.cn:nvsys/logcxl/logcxl.git
[submodule "atomic"]
	path = atomic
	url = git@ipads.se.sjtu.edu.cn:nvsys/logcxl/atomic.git
