# Database build options
option(ENABLE_BWTREE_DB "Enable BwTree database" ON)
option(ENABLE_BTREE_OLC_DB "Enable BTree OLC database" ON)
option(ENABLE_RADIX_ART_OLC_DB "Enable Radix ART OLC database" ON)
option(ENABLE_RADIX_ART_ROWEX_DB "Enable Radix ART ROWEX database" ON)
option(ENABLE_LEVEL_HASH_DB "Enable Level Hash database" ON)
option(ENABLE_CLHT_DB "Enable CLHT database" ON)
option(ENABLE_HOT_DB "Enable HOT database" ON)
option(ENABLE_MASSTREE_DB "Enable Masstree database" ON)
option(ENABLE_CLEVEL_HASH_DB "Enable CLevel Hash database" ON)
option(ENABLE_SHERMAN_DB "Enable Sherman database" ON)

# Config Options
